{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Add_Order_Codes</title>
    {% endblock %}
</head>
<body>
{% block body %}


    {% for messages in messages %}
         <div class="alert alert-success p-3">
        {{ messages }}
        </div>
    {% endfor %}

<form method="post">
{% csrf_token %}
    <div class="container-fluid">
        <div class="col-md-10 justify-content-center">
            {{ form.code | as_crispy_field }}
            <button class="btn btn-cart" type="submit">add code</button>
        </div>
    </div>


</form>
{% endblock %}
</body>
</html>