{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block head %}
        <title>Login</title>
        {% endblock %}

    </head>

    <body>
       {% block body %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Login & Register</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        {% for messages in messages %}
                        <div class="alert alert-danger">
                            {{ messages }}
                        </div>
                        {% endfor %}
                        <form method="post" action="{% url 'LoginPage' %}">
                            {% csrf_token %}
                        <div class="login-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Username</label>
                                    <input class="form-control" type="text" placeholder="Username" name="username" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input class="form-control" type="password" placeholder="Password" name="password" required>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn">Log in</button>
                                </div>
                                <div class="col-md-12">
                                    <p>Dont have Account?<a href="{% url 'RegisterUser' %}">Create one</a></p>
                                    <p><a href="{% url 'reset_password' %}" >Forgotten Password?</a></p>
                                </div>
                            </div>
                        </div>
                            </form>
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login End -->
     {% endblock %}
    </body>
</html>
