# Default ignored files
/../../../../:PycharmProjects/Rymis_Collection/.idea/shelf/
/../../../../:PycharmProjects/Rymis_Collection/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/Rymis_Collection/.idea/dataSources/
/../../../../:PycharmProjects/Rymis_Collection/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/Rymis_Collection/.idea/httpRequests/
